
#
# This file should be IDENTICAL to the requirements.txt file, except for the comments:
#  - urllib3 must be under 2.0, because it needs openssl 1.1.1, which the sonic pad doesn't have.
#    urllib3 2.x raises an ImportError on older openssl versions, so DON'T raise this cap, even if dependabot suggests it.
#    1.26.20 is the last 1.x release, and it still supports PY3.7.
#
octowebsocket_client==1.9.1
requests>=2.31.0; python_version < "3.8"
requests>=2.32.4; python_version >= "3.8" and python_version < "3.10"
requests>=2.33.0; python_version >= "3.10"
octoflatbuffers==24.3.27
pillow
certifi>=2026.7.22
rsa>=4.9
dnspython>=2.3.0; python_version < "3.8"
dnspython>=2.6.1; python_version >= "3.8"
httpx>=0.24.1
urllib3>=1.26.20,<2.0.0
sentry-sdk>=2.20.0,<3
pybind11
#zstandard>=0.22.0,<0.23.0

# Required only for linux host based plugins, used by the installer and the plugin for setup.
qrcode<=8.0.0

# The following are required only for Moonraker
configparser

# Only used for Bambu Connect and Elegoo CC2 Connect
paho-mqtt>=2.0.0
