<div style="display: flex; align-items: center; justify-content: center; flex-direction:column; margin-bottom:30px;">
    <img src="https://octoeverywhere.com/img/logo.png" height="80px" width="80px" />
    <h3>OctoEverywhere!</h3>
</div>

<p style="padding-bottom:10px">Blast off 🚀 with <a href="https://octoeverywhere.com">OctoEverywhere.com</a>! Access your full OctoPrint portal, printer controls, camera streams, and plugins from anywhere! OctoEverywhere works on your desktop, laptop, tablet, phone, and your favorite OctoPrint apps!</p>

<p style="padding-bottom:10px">OctoEverywhere is <b>free, secure, and super easy to setup!</b></p>

<p>
    <a class="btn btn-primary" target="_blank" href="" data-bind="attr: { href: settings.plugins.octoeverywhere.AddPrinterUrl } ">Finish Your Two Minute Setup Now!&nbsp;&nbsp;<i class="fa fa-external-link"></i></a>
</p>
<br/>
<p>
    <a href="https://octoeverywhere.com/support">Need help or want to send feedback?</a>
</p>
<br/>
<div>
    <div>
        <small>
            <a href="#" class="muted" onclick="$(this).children().toggleClass('fa-caret-right fa-caret-down').parent().parent().parent().next().slideToggle('fast')"><i class="fa fa-caret-right"></i> Advanced</a>
        </small>
    </div>
    <div class="hide">        
        <div class="control-group">
            <label class="control-label" style="padding-top:20px;">Your Printer Id: <strong>(don't share this!)</strong></label>
            <div class="controls">
                <span data-bind="text: settings.plugins.octoeverywhere.PrinterKey"></span>
            </div>
        </div>        
    </div>
</div>