<div style="display: flex; align-items: center; justify-content: center; flex-direction:column; margin-bottom:30px;">
    <img src="https://octoeverywhere.com/img/logo.png" height="80px" width="80px" />
    <h3>OctoEverywhere</h3>
</div>

<p>You're <strong>less than one minute</strong> away from free and secure access to your OctoPrint from anywhere!</p>

<p>OctoEverywhere empowers you with access to your full OctoPrint portal, printer controls, camera streams, and plugins from anywhere! OctoEverywhere works on your desktop, laptop, tablet, phone, and your favorite OctoPrint apps!</p>

<a class="btn btn-primary" target="_blank" href="" data-bind="attr: { href: printerURL() } " style="padding:5px; padding-left:45px; padding-right:45px; margin-top:15px;">Complete Your Setup Now!</a>

<div style="margin-top:30px;">
    Busy now? You can find the button to complete your setup at anytime in the OctoPrint settings under the OctoEverywhere tab.
</div>

<div style="margin-top:30px;">
    Having Trouble? We are more than happy to help, <a target="_blank" href="https://octoeverywhere.com/support">get in touch</a>.
</div>