<h3>OctoEverywhere!</h3>

<h4>Hello! 👋</h4>

<p>You're two minutes away from being able to access your OctoPrint instance from anywhere.</p>

<p>To complete the setup, click the link below to register with <strong>OctoEverywhere</strong>:</p>

<a class="btn btn-primary" target="_blank" href="" data-bind="attr: { href: printerURL() } ">Connect to OctoEverywhere <i class="fa fa-external-link"></i></a>
